@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
.nav-wrapper {
  font-family: "Montserrat", sans-serif;
  height: 70px;
  width: 100%;
  background: #f2f2f2 0% 0% no-repeat padding-box;
}

.icons-wrapper {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-wrapper {
  width: 45%;
}

h1 {
  font-size: 24px;
  text-align: start;
}

a {
  text-decoration: none;
}

.rightNav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper {
  width: 45%;
  text-align: right;
}

.nav-btn {
  padding: 6px 10px;
  margin: 10px;
  border: none;
  border-radius: 20px;
}

.nav-btn:hover {
  background-color: white;
}

.avatar-wrapper {
  height: 40px;
}

.avatar-link {
  height: 100%;
  width: auto;
  border-radius: 50%;
  border: solid 2px #eea668;
}

.cnt {
  position: relative;
}

.cnt::after {
  content: attr(data-content);
  position: absolute;
  right: -12px;
  top: -8px;
  background-color: rgb(236, 119, 99);
  width: 15px;
  padding: 1px;
  border-radius: 50%;
  text-align: center;
  color: #0c0b0b;
  font-size: small;
}
